<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
   <meta charset="UTF-8">
        <script src="angular.min.js"></script>
        <script >
            angular.module('mensaje',[]).controller('ctrlMensaje', function($scope,$http){
              $scope.Mensajito='asasasa';  
            
              $scope.guardar = function(){
                  $http.post('http://localhost:9999/mensaje/yo/un mendsjito ddesde angular').success(function(json){
                     $scope.guardado=json; 
                  });
                  
              }
              
              
             $scope.actualizar = function(){
                  $http.put('http://localhost:9999/mensaje/1/nuevo/mensaje 1 actualizado').success(function(json){
                     $scope.actualizado=json; 
                  });
                  
              } 
            });
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-app="mensaje">
        <div ng-controller="ctrlMensaje">
            
            {{Mensajito}}
            
            <button ng-click="guardar()">guardar</button>
            {{guardado}}
            
            <button ng-click="actualizar()">Actualizar</button>
            {{actualizado}}
        </div>
    </body>
</html>